[Unit]
Description="WiPi Server"

[Service]
# ExecStart=/bin/python /home/alarm/wipi-master/Server/main.py
ExecStart=/bin/wipi

[Install]
WantedBy=multi-user.target

